<div class="container" *ngIf="DialogType == 'addAthlete' || DialogType == 'editAthlete'">
<form (ngSubmit)="onSubmit()" #athleteForm="ngForm">
        <div class="form-group" *ngIf="users">
            <mat-form-field>
            <mat-label>Name</mat-label>
            <mat-select [(ngModel)]="model.user_id" name="user_id">
              <mat-option *ngFor="let user of users.data" [value]="user.id">
                {{user.name}}
              </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Distance(meter)</mat-label>
                <input matInput name="distance" [(ngModel)]="model.distance">
            </mat-form-field>
        </div>
        <div class="form-group" *ngIf="DialogType=='editAthlete'">
            <button type="button" class="btn btn-success" (click)="openDialog('deleteAthlete')">DELETE ATHLETE FROM TEST</button>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">SAVE</button>
        </div>
</form>
</div>
<div class="container" *ngIf="DialogType == 'deleteAthlete'">
    <form (ngSubmit)="onDeleteSubmit()" #athleteForm="ngForm">
    <div>Do you want to delete this athlete from test</div>   
    <div class="form-group">
        <button type="submit" class="btn btn-light center">YES</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-light center" (click)="onNoClick()">NO</button>
    </div>
   </form>
</div>
<div class="container" *ngIf="DialogType == 'deleteSportsTest'">
    <form (ngSubmit)="onDeleteSubmit()" #sportsTestForm="ngForm">
    <div>Do you want to delete this sports test</div>   
    <div class="form-group">
        <button type="submit" class="btn btn-light center">YES</button>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-light center" (click)="onNoClick()">NO</button>
    </div>
   </form>
</div>