<div mat-dialog-title>
  <button mat-button class="close" (click)="onNoClick()">x</button>
</div>
<h4 mat-dialog-title>{{DialogTitle}}</h4>
<div *ngIf="DialogType == 'addSportsTest'">
    <div>
        <app-sports-test-form></app-sports-test-form>
    </div>
</div>
<div *ngIf="DialogType == 'addAthlete'">
    <div>
        <app-athlete-add-form [TestId]="TestId" [DialogType]="'addAthlete'"></app-athlete-add-form>
    </div>
</div>
<div *ngIf="DialogType == 'editAthlete'">
    <div>
        <app-athlete-add-form [AthleteId]="AthleteId" [DialogType]="'editAthlete'"></app-athlete-add-form>
    </div>
</div>
<div *ngIf="DialogType == 'deleteAthlete'">
    <div>
        <app-athlete-add-form [AthleteId]="AthleteId" [DialogType]="'deleteAthlete'"></app-athlete-add-form>
    </div>
</div>
<div *ngIf="DialogType == 'deleteSportsTest'">
    <div>
        <app-athlete-add-form [TestId]="TestId" [DialogType]="'deleteSportsTest'"></app-athlete-add-form>
    </div>
</div>

