<div class="container">
    <form (ngSubmit)="onSubmit()" #sportsTestForm="ngForm">
        <div class="form-group" *ngIf="sportstesttype">
            <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="model.test_type_id" name="test_type_id">
              <mat-option *ngFor="let testtype of sportstesttype.data" [value]="testtype.id">
                {{testtype.test_type_name}}
              </mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="myDatepicker" name="test_date" [(ngModel)]="model.test_date">
                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-success">CREATE TEST</button>
    </form>
</div>
